.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-container1 {
  flex: 0 0 auto;
  width: 910px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-container2 {
  flex: 0 0 auto;
  width: 925px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-navlink {
  top: 36px;
  left: 469px;
  color: rgb(0, 0, 0);
  width: 140px;
  height: 47px;
  z-index: 100;
  position: absolute;
  font-size: 20px;
  transition: 0.3s;
  padding-top: 0px;
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  animation-name: bounce;
  padding-bottom: 0px;
  animation-delay: 0s;
  text-decoration: none;
  background-color: #e4e1e1;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-navlink:focus {
  background-color: #e8e8e8;
}
.home-navlink:hover {
  color: var(--dl-color-gray-black);
  background-color: #e8e8e8;
}
.home-link {
  display: contents;
}
.home-image {
  top: 25px;
  left: 78px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-image1 {
  top: 24px;
  left: 192px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-image2 {
  top: 24px;
  left: 133px;
  width: 50px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-navlink1 {
  color: rgb(0, 0, 0);
  right: 16px;
  width: 140px;
  bottom: 18px;
  height: 47px;
  z-index: 100;
  position: absolute;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
  padding-top: 0px;
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  animation-name: bounce;
  padding-bottom: 0px;
  animation-delay: 0s;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-navlink1:focus {
  background-color: #e8e8e8;
}
.home-navlink1:hover {
  color: var(--dl-color-gray-black);
  background-color: #e8e8e8;
}
.home-navlink2 {
  left: 620px;
  color: rgb(0, 0, 0);
  width: 140px;
  bottom: 18px;
  height: 47px;
  z-index: 100;
  position: absolute;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
  padding-top: 0px;
  border-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  animation-name: bounce;
  padding-bottom: 0px;
  animation-delay: 0s;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-navlink2:focus {
  background-color: #e8e8e8;
}
.home-navlink2:hover {
  color: var(--dl-color-gray-black);
  background-color: #e8e8e8;
}
.home-link03 {
  display: contents;
}
.home-image3 {
  top: 26px;
  left: 6px;
  width: 70px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 1363px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container4 {
  width: 930px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
}
.home-text {
  top: 4px;
  left: 2px;
  color: var(--dl-color-gray-black);
  width: 60%;
  position: absolute;
  font-size: 40px;
}
.home-text03 {
  top: 1008px;
  left: 46px;
  width: 90%;
  position: absolute;
}
.home-link04 {
  text-decoration: underline;
}
.home-link05 {
  text-decoration: underline;
}
.home-link06 {
  text-decoration: underline;
}
.home-image4 {
  top: 442px;
  left: 208px;
  width: 399px;
  height: 233px;
  position: absolute;
  object-fit: cover;
}
.home-text09 {
  top: 72px;
  left: 46px;
  width: 50%;
  position: absolute;
  transition: 0.3s;
}

.home-text12 {
  color: var(--dl-color-gray-black);
}
.home-link07 {
  color: var(--dl-color-gray-black);
  text-decoration: underline;
}
.home-link08 {
  color: var(--dl-color-gray-black);
  text-decoration: underline;
}
.home-text14 {
  text-decoration: underline;
}
.home-link10 {
  color: var(--dl-color-gray-black);
  text-decoration: underline;
}
.home-link11 {
  text-decoration: underline;
}
.home-text20 {
  font-style: normal;
  font-weight: 600;
}
.home-text22 {
  font-style: normal;
  font-weight: 600;
}
.home-text24 {
  font-style: normal;
  font-weight: 600;
}
.home-text26 {
  font-style: normal;
  font-weight: 600;
}
.home-text27 {
  font-weight: 400;
}
.home-text28 {
  font-style: normal;
  font-weight: 600;
}
.home-text33 {
  top: 347px;
  left: 43px;
  width: 90%;
  position: absolute;
}
.home-image5 {
  top: 33px;
  right: 79px;
  width: 327px;
  height: 298px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text36 {
  top: 683px;
  right: 41px;
  width: 90%;
  position: absolute;
}
.home-image6 {
  top: 1099px;
  left: 55px;
  width: 399px;
  height: 233px;
  position: absolute;
  object-fit: cover;
}
.home-image7 {
  right: 61px;
  width: 399px;
  bottom: 30px;
  height: 233px;
  position: absolute;
  object-fit: cover;
}
.home-image8 {
  top: 764px;
  left: 204px;
  width: 399px;
  height: 233px;
  position: absolute;
  object-fit: cover;
}
.home-container5 {
  width: 930px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-navlink3 {
  top: 20px;
  left: 304px;
  position: absolute;
  text-decoration: none;
}
.home-navlink4 {
  top: 19px;
  left: 390px;
  position: absolute;
  text-decoration: none;
}
.home-navlink5 {
  top: 19px;
  left: 486px;
  position: absolute;
  text-decoration: none;
}
.home-text39 {
  top: 48px;
  left: 275px;
  position: absolute;
  align-self: flex-end;
}
